.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
  
.app-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.header-title {
    font-family: 'lato', Helvetica, sans-serif;
    font-size: larger;
}

.brand-logo {
    height: 24px;
    width: auto;
    padding: 3px;
}

.mat-button {
    flex: 1;
}
