/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: lato;
    src: url(assets/fonts/Lato/Lato-Regular.ttf) format("opentype");
  }

@font-face {
  font-family: ExpletusSans;
  src: url(assets/fonts/ExpletusSans/ExpletusSans-Bold.ttf) format("opentype");
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: white;}


a {
  text-decoration: none;
  color: #61c9a8;
  color: teals;
}
